<p id="notice"><%= notice %></p>

<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
<!--	<%#= gravatar_for @user %> -->
	<%= @user.name %>
      </h1>
      
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @user.date_of_birth %>
  (<%= @user.getAge() %> years old)
</p>

<p>
  <strong>Weight:</strong>
  <%= @user.weight %> kg
  (ideal weight: <%= @user.ideal_weight %> kg)
</p>

<p>
  <strong>Height:</strong>
  <%= @user.height %> m
</p>

<p>
  <strong>IMC/BMI:</strong>
  <%= @user.getIMC() %>
</p>

<p>
  <strong>Does this user do sport?</strong>
  <% if @user.do_sport %>
    <%= "Yes" %>
  <% else %>
    <%= "No" %>
  <% end %>
</p>
<p>
  <% if @user.do_sport%>
    <strong>Would s/he like to do more?</strong>
  <% else %>
    <strong>Would s/he like to do some?</strong>
  <% end %>
  <% if @user.would_do_sport %>
    <%= "Yes" %>
  <% else %>
    <%= "No" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
